<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    div{
      height: 500px;
      width: 100%;
      text-align: center;
      margin: auto;
    }
  p{
    padding: 5px;
    margin: auto;
    width: 20%;
    text-align: start;
  }
  </style>
</head>
<body>
 <div>
   <h1>NHÓM TÀU KHỰA</h1>
   <p>Thành viên:</p>
     <p>Nguyễn Hữu Luật</p>
     <p>Phan Thái Sang</p>
     <p>Nguyễn Nghĩa Trung</p>
     <p>Hoàng Ngọc Tú</p>
   <p>Lớp: ST22B</p>
 </div>
</body>
</html>